<div class="">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="page-header">
				<h1 class="text-center">Find Fibonacci Series</h1>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group" ng-class="{'has-error' : $ctrl.message}">
					<input type="text" ng-model="$ctrl.fibonacciNumber" class="form-control" placeholder="Example: 12"/>
					<span ng-model="$ctrl.message" ng-show="$ctrl.message" class="help-block text-center">{{$ctrl.message}}</span>
				</div>
				<div class="form-group">
					<div class="output-span text-center" ng-model="$ctrl.fibonacciSeries" ng-show="$ctrl.fibonacciSeries">{{$ctrl.fibonacciSeries}}</div>
				</div>
				<div class="form-group col-md-6 col-md-offset-3">
					<button type="button" class="btn btn-success form-control" ng-click="$ctrl.generate()">Generate</button>
				</div>
			</div>
			
		</div>
	</div>
	<div class="row">
		<div class="text-center">
			<a class="" ng-href="/">Go Home</a>
		</div>
	</div>
</div>